<h2 class="title"><%= link_to "Cart", cart_index_path%></h2>

<div class="has-text-left">
  <% if cart.count > 0 %>
    <%= render cart %>
    <%= button_to "Checkout", invoice_cart_index_path, method: :post, action: "invoice", class: "button is-primary" %>
  <% else %>
    <div class="card mb-3">
      <div class="card-content">
        <figure class="media-content">
          <p class="subtitle is-6 has-text-grey-light">No items in cart. Get shopping!</p>
        </figure>
      </div>
    </div>
  <% end %>
</div>